body {
    text-align: center;
    background-color: aqua;
    font-weight: bold;
}

ul {
    text-align: left;
}

#menu {
    text-align: left;
}

#homepage_button {
    font-weight: bold;

}

#envoi_fichier, #envoi_formulaire {
    background-color: dimgrey;
    color: white;
}

#mon_fichier {
    /*padding-left: 10px;*/
}

#titre {
    text-align: center;
}

#recapitulatif {
    font-size: 150%;
    text-decoration: underline;
}